body {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  padding-top: 20px;
  background: #0c0a09;
  width: 100%;
  height: 80px;
}
.fundo {
  padding-top: 20px;
  background: #353434;
  width: 100%;
  height: 1300px;
}

.caixa {
  max-width: 70%;
  height: 100%;
  margin: 0 auto; 
}

.header b {
  margin-top: 11px;
  /* Dúvida: Como eu faço para essa parte ficar alinhada 
  com a list sem ser chutando valores no margin-top?*/
  font-size: x-large;
  color:  white;
  float: left;
}
.header span {
  color:  rgb(255, 81, 0);
  float: left;
}

.header nav {
  float: right;
}

ul {
  list-style: none;
}

ul li {
  font-style: inherit;
  color: white;
  display: inline;
  margin-left: 22px;
  font-size: larger;
}
